.note
  position: relative
  background-color: #cfcfcf
  width: 300px
  min-height: 100px
  margin: 10px
  padding: 10px 30px 10px 10px
  border: 1px solid black
  border-top-left-radius: 20px
  border-bottom-right-radius: 20px

  &:hover
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5) 

  .note-text
    width: 100%
    margin-bottom: 20px
    cursor: pointer

  .btn-edit,
  .btn-remove
    position: absolute
    right: 10px
    padding: 0

  .btn-edit
    bottom: 10px
    color: #4aaaa5

    &:hover
      text-decoration: underline

  .btn-remove
    top: 10px
    width: 15px
    height: 15px
    background-color: #f92672
    border-radius: 2px

    &:active
      top: 11px

    &:before,
    &:after
      position: absolute
      display: block
      content: ''
      top: 7px
      left: 2px
      width: 11px
      height: 2px
      background-color: white
      transform: rotate(45deg)

    &:after
      transform: rotate(-45deg)
 