@import './reset.sass'

html
  height: 100%

#root
  color: black

body
  min-height: 100%
  position: relative
  padding-bottom: 80px
  background-color: #efede0

.btn
  background: none
  border: none
  cursor: pointer
  padding: 10px
